.blue {

  width: calc(100%  /3);
  height: 100vh;
  background: #4791dc;
  float: left;
}

.teal {

  width: calc(100%  /3);
  height: 100vh;
  background: #30c7ac;
  float: left;
}

.lime {

  width: calc(100%  /3);
  height: 100vh;
  background: #b3e891;
  float: left;
}
